py-cord[voice] @ https://github.com/Krutyi-4el/pycord/archive/bd32b8d66579abd51daa381c26df59e449067df5.zip
yt-dlp
aiohttp==3.8.4
beautifulsoup4==4.12.2
spotipy==2.23.0
emoji==2.2.0
SQLAlchemy[asyncio]==2.0.16
alembic==1.11.1